version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - GF_INSTALL_PLUGINS=frser-sqlite-datasource
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./data:/var/lib/sqlite-data:ro

volumes:
  grafana-storage:
